.progressControl{
    margin: auto;
    font-size: xx-large;
    text-align: center;
}

.progressControlWell{
    width: var(--ControlWidth);
    margin: auto;
    /*text-align: center;*/
}

.raidWell{
    display: inline-block;
    width: 365px;
    margin: auto;

    background-image: var(--RaidBackImage);
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--GoldColor);
}

.raidWell img{
    width: 325px;
    height: 110px;
    background-size: contain;
}

.raid{
    width: 250px;
    margin: auto;
}

.raid div{
    display: inline-block;
    width: 50px;
    vertical-align: top;
}

.raidProgressBar{
    background-color: grey;
    display: inline-block;
    width: 190px;
    margin-left: 5px;
}
