.talentControl{
    width: var(--ControlWidth);
    margin: auto;
}

.horde-talentcontrolPanel {
    background-image: var(--HordeBackImage);
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--GoldColor);
}

.horde-talentControlPanel > .panel-heading {
    background-image: var(--HordeBackImage);
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--GoldColor);
}

.horde-talentControlDesc{
    width: 275px;
    height: 160px;
    float: left;

    margin-bottom: 0;

    background-image: var(--HordeBackImage);
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--GoldColor);
}

.alli-talentControlPanel {
    background-image: var(--AlliBackImage);
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--GoldColor);
}

.alli-talentControlPanel > .panel-heading {
    background-image: var(--AlliBackImage);
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--GoldColor);
}

.alli-talentControlDesc{
    width: 275px;
    height: 160px;
    float: left;
    
    margin-bottom: 0;

    background-image: var(--AlliBackImage);
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--GoldColor);
}

.talentControlHeader{
    height: fit-content;
}

.talentControlHeader div{
    width: 150px;
}

.talentControlHeader img{
    height: 25px;
}

.talentControlHeader label{
    margin-left: 5px;
}

.talentLabel {
    margin-top: 10px;
    font-size: xx-large;
    text-align: center;
}

.talentSpellControl {
    margin-left: 10px;
    width: 210px;
    height: 40px;
    float: right;
}

.talentSpellControl img {
    float: left;
    height: 36px;
    width: 36px;
    margin-left: 15px;
}

.talentSpellControlLvl {
    float: left;
    height: 36px;
    width: 15px;
}

.talentSpellControlName {
    float: left;
    margin-left: 5px;
    font-size: small;
}
