/* NavBar */
.navbar {
    margin: 0;
}

/* Table */
.centerTable th, .centerTable td {
    text-align: center;
}

.centerTable tr:nth-child(odd) {background: #FFF}
.centerTable tr:nth-child(even) {background: #CCC}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    opacity: 100;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 75px;
    background-color: lightgray;
    color: dimgrey;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-family:initial;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltip-top {
    bottom: 125%;
    left: 50%;
    margin-left: -35px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
